:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: #8B8FEF;
    --primary-foreground: oklch(0.205 0 0);
    --secondary: #64748B;
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: #b8cafb;
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-hover: oklch(0.436 0.178 27.601);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --highlight: var(--muted-foreground);
    --border: oklch(0.922 0 0);
    --input: oklch(0.42 0 89.876);
    --ring: oklch(0.538 0 89.876);

    /* Chart colours (shades derived from originally defined chart colours).
       https://colorkit.co/color-shades-generator*/
    --chart-1-1: #e1e1e1;
    --chart-1-2: #c5c5c5;
    --chart-1-3: #a9a9a9;
    --chart-1-4: #8d8d8d;
    --chart-1-5: #737373;
    --chart-1-6: #545454;
    --chart-1-7: #454545;
    --chart-1-8: #363636;
    --chart-1-9: #282828;
    --chart-1-10: #1b1b1b;
    --chart-2-1: #e6cdff;
    --chart-2-2: #ddbcff;
    --chart-2-3: #cd9aff;
    --chart-2-4: #bd74ff;
    --chart-2-5: #ad46ff;
    --chart-2-6: #7f32be;
    --chart-2-7: #6a289e;
    --chart-2-8: #551e80;
    --chart-2-9: #411563;
    --chart-2-10: #2d0d48;
    --chart-3-1: #d7ecd8;
    --chart-3-2: #b0d8b1;
    --chart-3-3: #88c48b;
    --chart-3-4: #5db064;
    --chart-3-5: #259c3b;
    --chart-3-6: #197329;
    --chart-3-7: #135f21;
    --chart-3-8: #0d4c19;
    --chart-3-9: #083911;
    --chart-3-10: #042809;
    --chart-4-1: #cddefe;
    --chart-4-2: #9dbcfb;
    --chart-4-3: #6e99f6;
    --chart-4-4: #4173ef;
    --chart-4-5: #1447e6;
    --chart-4-6: #0c32ab;
    --chart-4-7: #08288e;
    --chart-4-8: #051f73;
    --chart-4-9: #031659;
    --chart-4-10: #010d40;

    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
    --link: oklch(0.488 0.243 264.376);

    --donation-light: #84E296;
    --donation: #259C3B;
    --donation-hover: #196928;
    --donation-foreground: var(--foreground);
    --donation-dark: #0a7d1f;
    --donation-dark-hover: #064a12;
    --donation-dark-foreground: var(--background);

    --gold-light: #f0d078;
    --gold: #F0B100;
    --gold-hover: #bd8a00;
    --gold-foreground: #ffe293;
    --gold-dark: #805e00;
    --gold-dark-hover: #4d3800;
    --gold-dark-foreground: var(--gold-foreground);

    --winner: var(--gold-foreground);
    --runner-up: #b0b0fb;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: #8B8FEF;
    --primary-foreground: oklch(0.205 0 0);
    --secondary: #64748B;
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --highlight: var(--muted-foreground);
    --border: oklch(0.269 0 0);
    --input: oklch(0.725 0 89.876);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);

    --link: oklch(0.723 0.143 268.969);
}

